<div class="container">
<h1>New Tech</h1>
    <form action="/teches/" method='post'>

        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="form-group">
            <label for="name">name:</label>
            <input type="text" class="form-control" id="exampleInputname" name="tech[name]">
        </div>
        <div class="form-group">
            <label for="name">kind (language, framework, database, or other):</label>
            <input type="text" class="form-control" id="exampleInputname" name="tech[kind]">
        </div>
        <div class="form-group">
            <label for="name">Image File Name:</label>
            <input type="text" class="form-control" id="exampleInputname" name="tech[image_url]">
        </div>
        <button type="submit" class="btn btn-success">New</button>
    </form>
</div>